@import "compass";
@import "compass/reset";

@import "_partials/mixins";
@import "_partials/variables";
@import "_partials/typography";

@import "_partials/menu";

body {
	background-color: $bg-color;
}

#header-container {
	width: 100%;
	background: url(images/body_bg.png) repeat-x top;
	height: $header-height;
}

#header {
	background: url(images/header.png) center top no-repeat;
	height: $header-height;
}

#header a:link, #header a:visited {
	color: gray;
	text-decoration: none;
}

.header-content {
	width: $container-width;
	margin: 0 auto;
}

.header-logo {
	position: relative;
	top: 20px;
}

#footer {
	width: $container-width;
	margin: 0 auto;
}

#container {
	background-color: white;
	padding-top: 20px;
	width: $container-width;
	margin: 0 auto;
}

#menu-container {
	width: $container-width;
	margin: 0 auto;
}

h1 {
	font-size: 3em;
	color: $h1-color;
	padding: 10px 0;
	text-shadow: 5px 3px 1px $h1-shadow-color;
}

h3 {
	font-size: 1.5em;
	color: $h3-color;
	padding: 10px 0;
	text-shadow: 5px 3px 1px $h1-shadow-color;
}

h4 {
	font-size: 1.2em;
	color: $h4-color;
	padding: 6px 0;
	text-shadow: 1px 1px 1px $h1-shadow-color;
}

article {
	padding: 15px;
	width: $article-width;
}

p {
  line-height: 170%;
  margin-bottom: 1.3em;
}

.aligncenter, img.aligncenter { 
	clear: both; 
	display: block; 
	margin-left: auto; 
	margin-right: auto; 
}

img.alignright { float: right; margin: 0 0 1em 1em; }
img.alignleft { float: left; margin: 0 1em 1em 0; }
img.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.alignright { float: right; }
.alignleft { float: left; }
.aligncenter { display: block; margin-left: auto; margin-right: auto; }

/******************************************************************
side sidebar styles
******************************************************************/

#sidebar { 
	clear: left; 
}

#sidebar-side {
	position: fixed;
	top: $header-height + $sidebar-top-offset;
	right: 60px;
	width: 20%;
	margin-left: 0;
	padding-left: 2%;
	float: right;
}

@media only screen and (max-width: 2000px) {
#sidebar-side { width: 20%;	}
}

article.post-box[id*="post-"] {
	padding-left: 1.3%;
	padding-right: 1.3%;
}

#sidebar-side {
	background: $sidebar-bg-color;
	padding-top: 1px;
	-webkit-border-top-left-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-topright: 20px;
	-moz-border-radius-bottomright: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

#sidebar-side .widget {
	margin: 2em 0;
	padding-right: 2em;
	color: #fff;
	text-shadow: 1px 1px #000;
}

#sidebar-side .widget a {
	color: #eee;
	text-decoration: none;
}

#sidebar-side .widget a:hover {
	text-decoration: underline;
}

#sidebar-side .widget li,
#meta.widget aside a {
	border-top: 1px dotted #5b5b5b;
	margin-bottom: 0;
	padding: 7px 0;
}

#sidebar-side .widget li:last-child {
	border-bottom: 1px dotted #5b5b5b;
}

#sidebar-side .widget ul.sub-menu li:last-child,
#sidebar-side .widget ul.children li:last-child {
	border-bottom: 0;
}

#sidebar-side .widget-title {
	font-size: 16px;
	text-transform: uppercase;
	color: #9dbb41;
}