/*_variables.scss */

/* Body Text Styles */
$text-color: black;
$base-font-size: 14px;
$base-font-family: 'Palanquin', sans-serif;
$base-font-weight: 400;

/* Colors */
$bg-color: #B1E200;
$selected-menu-border: #D93D49;
$hovered-menu-border: #E7848C;

$h1-color: #FF8133;

/* layout */
$header-height: 284px;
$container-width: 800px;
$article-width: 600px;
