/*_variables.scss */

/* Body Text Styles */
$text-color: black;
$base-font-size: 16px;
$base-font-family: 'Palanquin', sans-serif;
$base-font-weight: 400;

/* Colors */
$bg-color: #B1E200;
$selected-menu-border: #D93D49;
$hovered-menu-border: #E7848C;

$h1-color: #FF8133;
$h1-shadow-color: #E4D9D3;

$h3-color: #7F2264;

$h4-color: #555555;

$sidebar-bg-color: #7F2264;

/* layout */
$header-height: 284px;
$sidebar-top-offset: 100px;
$container-width: 960px;
$article-width: 700px;
