/*_variables.scss */

/* Body Text Styles */
$text-color: black;
$base-font-size: 14px;
$base-font-family: 'Muli', sans-serif;
$base-font-weight: 400;

/* Colors */
$bg-color: #C8EFF5;
$selected-menu-border: #D93D49;
$hovered-menu-border: #E7848C;

$h1-color: #A574A3;

/* layout */
$header-height: 284px;
$container-width: 800px;
